<launch>

<arg name="model" default="$(find rover_description)/urdf/rover_model.urdf" />
<arg name="gui" default="True" />
<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

<param name="robot_description" textfile="$(arg model)" />
<param name="use_gui" value="$(arg gui)"/>

<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

<!--<include file="$(find gazebo_ros)/launch/empty_world.launch"/> -->

</launch>
